* {
  font-family: "Courier New", Courier, monospace;
}

body {
  padding: 20px;
  color: white;
  font-size: 1rem;
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background: url("https://static.vecteezy.com/system/resources/previews/001/971/258/non_2x/retro-futurism-neon-city-background-free-vector.jpg");
}
input {
  width: 40%;
  border: none;
  height: 40px;
  padding: 0 30px;
  color: #7f7f7f;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 6px;
}
form {
  display: flex;
  justify-content: center;
}

h2 {
  background: #fefbfb;
  display: flex;
  color: black;
  height: 40px;
  width: 110px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin-left: 20px;
  margin-bottom: 40px;
}

.card {
  width: 300px;
  margin: 15px;
  display: flex;
  overflow: hidden;
  min-width: 210px;
  border-radius: 10px;
  align-content: center;
  flex-direction: column;
  border: 1px solid gray;
  backdrop-filter: blur(5px);
  background-color: rgba(5, 7, 60, 0.27);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 2px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 2px rgba(40, 40, 40, 0.35) solid;
  border-right: 2px rgba(40, 40, 40, 0.35) solid;
}

.card p {
  padding: 5px;
  font-weight: 600;
  text-align: center;
}

.card img {
  max-height: 180px;
}

.container__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
